<style type ="text/css">
* {
	
}
.form-comment #stats {
	width: 52%;
	text-align: left;
	display:none;	
	float:right;	
	height:95%;
	padding:2px;
	
}
.form-comment #tabComments_wrapper {
	width: 98%;	
	max-height:10%;
}
.form-comment #stats tbody tr :nth-child(1){
	width:15%;
	
}

.form-comment #tab input[type="button"]{
	background : #0097E5;
	margin:10px;
	color:white;
	padding:4px;
	width:30%;
	
}
.form-comment #stats tbody tr :nth-child(2){
	width:78%;
	
}
.form-comment #graphs {

	width: 45%;
	text-align: left;	
	display:none;
	padding:2px;
	
}
.form-comment #moods {
	width: 66%;
	text-align: center;
	border: 2px solid #0097E5;
	display:inline-block;
	height:95%;
	padding:2px;
	
}
.form-comment #proj {
	width: 66%;
	text-align: left;
	border: 2px solid #0097E5;
	display:inline-block;
	height:95%;
	padding:2px;
	
}
.form-comment #mails {
	width:30%;
	text-align: left;
	border: 2px solid #0097E5;
	float:right;
	visibility:hidden;
	display:inline-block;
	height:95%;
	padding:2px;
	
}
.form-comment #content{
	width:99%;
	display:inline-block;
}
.form-comment #count {
	height:48%;
	width : 30%;
	float:right;	
	display:inline-block;
}
.form-comment #countDuplicate{
	visibility:hidden;
}
.form-comment #count0 {
	font-weight:bold;
	text-align:center;
	background-color: #ED1C24;
	width : 98%;
	margin-bottom:3%;	
	font-size:25px;
	color:white;
	padding-top:7%;
	padding-bottom:7%;
	background-image:url("../img/emotion0.png");
	background-repeat:no-repeat;
	background-size:20% 100%;
}
#graphs .c3-chart-arcs-title {
  font-weight : bold;
  fill: red;
  font: 32px;
}
.form-comment #count1 {
	font-weight:bold;
	text-align:center;
	background-color:#FF7F27;	
	color:white;
	height:12%;	
	font-size:25px;
	color:white;
	width : 98%;	
	margin-bottom:3%;
	padding-top:7%;
	padding-bottom:7%;
	background-image:url("../img/emotion1.png");
	background-repeat:no-repeat;
	background-size:20% 100%;
}
.form-comment #count2 {	
	font-weight:bold;
	font-size:25px;
	color:white;
	text-align:center;
	background-color: #FFF200;
	width : 98%;	
	margin-bottom:3%;
	padding-top:7%;
	padding-bottom:7%;
	background-image:url("../img/emotion2.png");
	background-repeat:no-repeat;
	background-size:20% 100%;
}
.form-comment #count3 {	
	font-weight:bold;
	font-size:25px;
	color:white;
	text-align:center;
	background-color:#00A2E8;
	width : 98%;
	margin-bottom:3%;
	padding-top:7%;
	padding-bottom:7%;
	background-image:url("../img/emotion3.png");
	background-repeat:no-repeat;
	background-size:20% 100%;
}
.form-comment #count4 {	
	font-weight:bold;
	font-size:25px;
	color:white;
	margin-bottom:3%;
	padding-top:7%;
	padding-bottom:7%;
	text-align:center;
	background-color: #22B14C;
	width : 98%;	
	background-image:url("../img/emotion4.png");
	background-repeat:no-repeat;
	background-size:20% 100%;
}
body {
	background-color: #CCCCCC;
}

.form-comment {
	background: #F5F5F5;
	border: 2px solid #0097E5;
	text-align: center;
	width: 95%;
	height:95%;
	font: 95% Verdana;
	margin: 10px auto;
	padding: 16px;
}

.form-comment h1 {
	background: #0097E5;
	padding: 20px 0;
	font-size: 140%;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-comment h2 {
	background: #0097E5;
	width:99%;
	padding:6px;
	text-align:center;	
	font-size: 18px;
	font-weight: 100;
	color: #fff;	
	text-decoration:underline;
}

.form-comment table{
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  width:100%;  
  padding:5px;  
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
  animation: float 5s infinite;
}
.form-comment th{
  color:#fff;
  background: #0097E5;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:18px;
  padding:6px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

td img{
	padding:2px;
}
  
.form-comment tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:13px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.form-comment tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

.form-comment td {
 
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:100;
  font-size:13px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}



.form-comment textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.form-comment textarea:focus {
	box-shadow: 0 0 5px #0097E5;
	padding: 3%;
	border: 1px solid #0097E5;
}

.form-comment input[type="submit"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #0097E5;
	border-bottom: 2px solid #0187CD;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.table input[type="button"] {
	margin:3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #0097E5;
	border-bottom: 2px solid #0187CD;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.table input[type="button"]:nth-child(3) {
	float:right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #ED1C24;
	border-bottom: 2px solid #C91C24;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.form-comment input[type="submit"]:hover {
	background: #0187CD;
}

input[type="radio"] {
	display: none;
}

:checked+label img {
	border: 2px solid black;
}

.emotion label {
	display: inline-block;
	cursor: pointer;
}

.emotion label img {
	padding: 3px;
}
</
style
>